@model IEnumerable<ControleDietaHospitalarUnimedJau.Models.Bandeja>

@{
    ViewData["Title"] = "Bandejas";
}

<h1>Bandejas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Registrar Nova Bandeja</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodBandeja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDieta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodBandeja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DetalhesDieta.NomeDieta)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>