@model IEnumerable<ControleDietaHospitalarUnimedJau.Models.Entrega>

@{
    ViewData["Title"] = "Listagem de Entregas";
}

<h1>Entregas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Registrar Nova Entrega</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusValidacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCopeira)
            </th>
            <th>
                Dieta
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdBandeja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraFim)
                </td>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.StatusValidacao)</strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>

                <td>
                    @if (item.DetalhesPaciente != null)
                    {
                        @Html.DisplayFor(modelItem => item.DetalhesPaciente.Nome)
                    }
                    else
                    {
                        <span class="text-danger">Não Encontrado</span>
                    }
                </td>

                <td>
                    @if (item.DetalhesCopeira != null)
                    {
                        @Html.DisplayFor(modelItem => item.DetalhesCopeira.Nome)
                    }
                    else
                    {
                        <span class="text-danger">Não Encontrado</span>
                    }
                </td>

                <td>
                    @if (item.DetalhesDieta != null)
                    {
                        @Html.DisplayFor(modelItem => item.DetalhesDieta.NomeDieta)
                    }
                    else
                    {
                        <span class="text-danger">Não Encontrado</span>
                    }
                </td>

                <td>
                    @if (item.DetalhesBandeja != null)
                    {
                        @Html.DisplayFor(modelItem => item.DetalhesBandeja.CodBandeja)
                    }
                    else
                    {
                        <span class="text-danger">Inválida</span>
                    }
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>